<h1>Add New</h1>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Bookmark Name</span>
    <input type="text" class="form-control" ng-model="newBookMarkName" placeholder="Articles,News .." aria-describedby="basic-addon1">
</div>
<br>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon2">url</span>
    <input type="text" class="form-control" ng-model="newBookMarkUrl" placeholder="www.example.com" aria-describedby="basic-addon2">

</div>
<br>

<label class="custom-control custom-checkbox">
    <input type="checkbox" ng-model="includeinFolder" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">add this under a folder</span>
</label>

<div class="input-group" ng-show="includeinFolder">
    <span class="input-group-addon" id="basic-addon2">Folders</span>
    <select class="form-control" id="sel1" ng-options="folder.id as folder.folderName for folder in availableFolder | filter: {folderName:'!ROOTFOLDER'}"
            ng-disabled="disableFolderDropDown" ng-model="newBookMarkFolder"></select>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-sm" ng-click="NavigateTo('/createFolder/false/null')">
            <span class="glyphicon glyphicon-plus"></span> Add New
        </button>
    </span>
</div>

<br />

<div class="input-group" style="padding-left:41%">
    <button type="button" class="btn btn-default" ng-click="addBookMark('/')">Save Bookmark</button>

</div>
